root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
ij_smart_tabs = false

[**/build/**.{kt,kts}]
ij_formatter_enabled = false
# noinspection EditorConfigKeyCorrectness
ktlint = disabled

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_name_count_to_use_star_import = 10
ij_kotlin_name_count_to_use_star_import_for_members = 10

# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-wildcard-imports = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_code_style = intellij_idea
# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-consecutive-comments = enabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_if-else-wrapping = enabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_try-catch-finally-spacing = enabled
# noinspection EditorConfigKeyCorrectness
ktlint_function_naming_ignore_when_annotated_with = Composable
# noinspection EditorConfigKeyCorrectness
compose_preview_naming_enabled = true
# noinspection EditorConfigKeyCorrectness
compose_preview_naming_strategy = suffix
# noinspection EditorConfigKeyCorrectness
compose_disallow_material2 = true
# noinspection EditorConfigKeyCorrectness
compose_content_emitters_denylist=DropdownMenu,LoginContent,LoginWithEmailContent

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,jest.config}]
indent_size = 2

[*.xml]
insert_final_newline = false

[*.properties]
ij_properties_keep_blank_lines = true

[*{.yaml,yml}]
indent_size = 2
